<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <variable resource="logback-defaults.properties"/>

    <include resource="${KSML_LOGBACK_STYLE_FILE:-logback-ksml-std.xml}"/>

    <root level="INFO">
        <appender-ref ref="${STD_OUT_APPENDER_NAME}"/>
        <appender-ref ref="${STD_ERR_APPENDER_NAME}"/>
    </root>

    <logger name="io.axual" level="WARN"/>
    <logger name="io.axual.common" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="ERROR"/>
    <logger name="org.apache.kafka.streams.StreamsConfig" level="ERROR"/>
    <logger name="io.confluent" level="WARN"/>
    <logger name="io.axual.ksml" level="INFO"/>
</configuration>
