<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <variable resource="logback-defaults.properties"/>

    <if condition='"true".equalsIgnoreCase( property( "LOGBACK_USE_JSON" ) )'>
        <then>
            <include resource="logback-ksml-json.xml"/>
        </then>
        <else>
            <include resource="logback-ksml-std.xml"/>
        </else>
    </if>

    <root level="INFO">
        <appender-ref ref="${STD_OUT_APPENDER_NAME}"/>
        <appender-ref ref="${STD_ERR_APPENDER_NAME}"/>
    </root>

    <logger name="io.axual" level="WARN"/>
    <logger name="io.axual.common" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="ERROR"/>
    <logger name="org.apache.kafka.streams.StreamsConfig" level="ERROR"/>
    <logger name="io.confluent" level="WARN"/>
    <logger name="io.axual.ksml" level="INFO"/>
</configuration>
