name: build and push release Docker images

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
        description: "The image tag to create"
  release:
    types: [published]

env:
  RELEASE_TAG: ${{ inputs.tag || github.event.release.tag_name }}

jobs:
  maven-build:
    uses: ./.github/workflows/maven-build.yml
    secrets: inherit

  release-push-docker:
    needs: maven-build
    runs-on: ubuntu-latest
    steps:
      - name: print release to be pushed
        run: |
          echo "building and tagging release: $RELEASE_TAG"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts-${{ github.sha }}
          path: build-output/

      - name: Prepare JVM Tars
        env:
          GRAALVM_JDK_VERSION: 23.0.2
        run: |
          wget https://github.com/graalvm/graalvm-ce-builds/releases/download/jdk-${GRAALVM_JDK_VERSION}/graalvm-community-jdk-${GRAALVM_JDK_VERSION}_linux-x64_bin.tar.gz -O graalvm-amd64.tar.gz
          wget https://github.com/graalvm/graalvm-ce-builds/releases/download/jdk-${GRAALVM_JDK_VERSION}/graalvm-community-jdk-${GRAALVM_JDK_VERSION}_linux-aarch64_bin.tar.gz -O graalvm-arm64.tar.gz

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: login to Axual Open Source Registry
        uses: docker/login-action@v3
        with:
          registry: registry.axual.io
          username: ${{ secrets.AXUAL_REGISTRY_USER }}
          password: ${{ secrets.AXUAL_REGISTRY_TOKEN }}

      - name: build and push KSML Runner
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          target: ksml
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            axual/ksml:${{ inputs.tag || github.event.release.tag_name }}
            axual/ksml:latest
            ghcr.io/axual/ksml:${{ inputs.tag || github.event.release.tag_name }}
            ghcr.io/axual/ksml:latest
            registry.axual.io/opensource/images/axual/ksml:${{ inputs.tag || github.event.release.tag_name }}
            registry.axual.io/opensource/images/axual/ksml:latest

  helm-chart-release:
    needs: release-push-docker
    uses: './.github/workflows/package-push-helm.yml'
    secrets: inherit
    with:
      app-version: ${{ inputs.tag || github.event.release.tag_name }}
      version: ${{ inputs.tag || github.event.release.tag_name }}
